rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
    // Reglas Públicas: Permiten lectura a cualquiera
    match /landing_configs/{docId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.role == 'superadmin';
    }
    
    match /landingPlans/{planId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.role == 'superadmin';
    }
    
    match /companies/{companyId} {
      // El perfil público de la compañía se puede leer
      allow read: if true;
      // Solo el admin de la compañía o un superadmin pueden escribir
      allow write: if request.auth != null && 
                   (request.auth.uid == resource.data.ownerId || request.auth.token.role == 'superadmin');
    }
    
    match /companies/{companyId}/dishes/{dishId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /reservations/{reservationId} {
      allow create; // Cualquiera puede crear una reserva
      // Solo el admin de la compañía o un superadmin pueden gestionar la reserva
      allow read, update, delete: if request.auth != null && 
                                    get(/databases/$(database)/documents/companies/$(resource.data.restaurantId)).data.ownerId == request.auth.uid 
                                    || request.auth.token.role == 'superadmin';
    }

    match /orders/{orderId} {
      allow create; // Cualquiera puede crear una orden
      allow read, update, delete: if request.auth != null;
    }
    
    // Reglas de Usuarios: Cada usuario puede leer/escribir su propio documento
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      // Un superadmin puede leer/escribir cualquier perfil de usuario
      allow read, write: if request.auth != null && request.auth.token.role == 'superadmin';
    }

    // Reglas de Auditoría: Solo superadmins
    match /globalAuditLogs/{logId} {
      allow read, write: if request.auth != null && request.auth.token.role == 'superadmin';
    }

    // El resto de las colecciones (si las hubiera) estarían protegidas por defecto al no tener una regla explícita
  }
}
