rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Permitir la lectura pública de todos los archivos.
    // Esto es común para imágenes, logos, etc., que deben ser visibles en la app y el menú.
    match /{allPaths=**} {
      allow read;
    }

    // Permitir la escritura de imágenes solo en rutas específicas.
    // Esto previene que usuarios suban archivos a cualquier parte de tu bucket.
    match /dishes/{companyId}/{allPaths=**} {
      allow write: if request.auth != null;
    }
    match /avatars/{companyId}/{allPaths=**} {
      allow write: if request.auth != null;
    }
    match /qrs/{companyId}/{allPaths=**} {
        allow write: if request.auth != null;
    }
    match /landing-subsections/{allPaths=**} {
        allow write: if request.auth != null && request.auth.token.role == 'superadmin';
    }
  }
}
